{:deps {:aliases [:cljs]}
 :port 7002
 :dev-http {8033 "resources/public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn css100days.core/init}}
                :output-dir "resources/public/js"
                :devtools {:pre-loads [devtools.preload]}
                :nrepl {:init-ns css100days.core}}}}